@import url("https://fonts.googleapis.com/css?family=Lora&display=swap");

header img {
    background-color: #aad0e2;
    width: 2%;
    float: right;
    
}
.colunms {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.product {
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;

}
