@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");

header div {
    background-color: #aad0e2;
    padding-bottom: 5%;
   
    }
header img {
    width: 10%;
    float: right;

}
h1 {
    font-family: 'Merriweather', serif;
    padding: 6%;
    text-align: center;
    color: #3a3b38;
}
.display {
    background: #d9eb99;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 4%;
}
.product {
    text-align: center;
    font-family: 'Merriweather', serif;

}
.product img {
    width: 96%;
    display: block;
    margin-right: auto;
    margin-left: auto;

}
.product a {
    text-decoration: none;
    font-style: lora;
    background-color: #aad0e2;
    box-shadow: 2px 2px 2px #2b2828;
    padding: 3%;


}
.product a:hover {
    background-color: #6466ce;
    transition: all 1s;
    
}
