@import url("https://fonts.googleapis.com/css?family=Lora&display=swap");

header div {
    background-color: #aad0e2;
    padding-bottom: 10%;
   
    }
header img {
    width: 10%;
    float: right;

}
.colunms {
    background: #d9eb99;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.product {
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;

}
