html{
  background-image: url(families_stories2.jpg);
}

body{
  background-color: yellowgreen;
  margin: 0 auto; 
  width: 70%;

}

.intro {
  font-size: 2.5rem;
  padding: 3%;
  margin:  0 15%;
}

.quote {
  font-size: 3rem;
  padding: 3%;
  margin: 0 15%;
  font-style: italic;
  text-align: center;
  color: darkblue;
}
    /* Menu */
    .navbar, .navbar-inverse {
      border-radius: 0;
      border: none;
      margin-bottom: 0;
      min-height: 80px;
    }
    
    .nav li {
      display: inline;
      color: white;
      font-size:1.7rem;
    }
    .nav li a{
      color: white;
    }
    .nav li a:hover{
      background-color: #444444;
      transition: all linear .7s;
      
    }
    .nav li a:active{
      padding: 20px;  
    }
   
    main {
        text-align: left;
        background-color: rgb(191, 214, 235);
        margin-bottom: 0;
        padding: 5%;
    } 
     main p {
        margin: 2% 2%;
    }
    h1 {
        margin-top: 0;
        padding-top: 3%;
        margin-bottom: 0;
        background-color: rgb(83, 176, 207);
        font-style: oblique;
        font-size: 4rem;
        padding: 5%;
        text-align: center;
        border: 2px dashed #817f7f;
    }
    
    footer {
        background-color: rgb(136, 141, 161);
        text-align: center;  
        padding: 4%;
        color: #ffffff;
        margin-bottom: 0;
    
    }
    footer:hover{
        background-color: #444444;
        transition: 0.9S ALL linear;
        margin-top: 0;
    }

    input[type=submit] {
      color: #ffffff;
      background-color: #444444;
      box-shadow: 4px 4px 4px solid #969595;
      margin: 3%;
    }

    .delete label {
      float:left;
      width:25%;
      text-align:right;
    }

    .delete input[type=text], input[type=textbox] {
      float:left;
      width:65%;
    }