html{
  background-image: url(families_stories2.jpg);
}

body{
  background-color: #76caa7;
  margin: 0 auto; 
  width: 70%;
}

/*header{
  background-color: azure;
  width: 100%;
  height: 20%;
}

.navbar, .navbar-inverse {
border-radius: 0;
border: none;
margin-bottom: 0;
  min-height: 80px;

}
ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 200px;
      height:40px;
  
      
    }
    
    li a {
      font-size:1.4rem;
      display: inline;
      color: #4e2929;
      padding: 20px 30px;
      text-decoration: none;
    }
    
    /* Change the link color on hover */
    .navbar, .navbar-inverse {
      border-radius: 0;
      border: none;
      margin-bottom: 0;
      min-height: 80px;
    }
    
    .nav li {
      display: inline;
      color: white;
      font-size:1.7rem;
    }
    .nav li a{
      color: white;
      

    }
    .nav li a:hover{
      background-color: blue;
      transition: all linear .7s;
      
    }
    .nav li a:active{
      padding: 20px;
      
    }
   
    main {
        text-align: left;
        background-color: rgb(191, 214, 235);
        margin-bottom: 0;

    
    } 
     main p {
        margin: 2% 2%;
    }
    h1 {
        margin-top: 0;
        padding-top: 3%;
        margin-bottom: 0;
        background-color: lightblue;
        font-style: oblique;
        font-size: 4rem;
        padding: 5%;
        text-align: center;

    
    }
    .code {
        background-color: rgb(121, 89, 143);
        padding-bottom: 4% ;
        padding-top: 2%;
    
    }
    .code a {
        text-decoration: none;
        font-size: 2.5rem;
        color: #ffffff;
    
    }
    .code a:active{
        color: #121311;
    }
    .code:hover {
       background-color: #444444;
       transition: 0.9s all linear;
    }
    
    footer {
        background-color: rgb(136, 141, 161);
        text-align: center;  
        padding-block-end: 0%;
        color: #ffffff;
        margin-top: 0;
    
    }
    footer:hover{
        background-color: #444444;
        transition: 0.9S ALL linear;
        margin-top: 0;

    }

    /*li a:hover {
      background-color: #555;
      color: white;
      transition: .7s;
    }
    li a:active{
        background-color: cornflowerblue;
    }
    main{
        background-color: #8ab5c2;
        padding:4px;
    }
    footer {
        background-color: #76caa7;
        
    }