header{
    background-color: azure;
}

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        
      }
      
      li a {
        display: inline-block;
        color: #4e2929;
        padding: 8px 16px;
        text-decoration: none;
      }
      
      /* Change the link color on hover */
      li a:hover {
        background-color: #555;
        color: white;
        transition: .7s;
      }
      li a:active{
          background-color: cornflowerblue;
      }
      main{
          background-color: #8ab5c2;
      }
      footer {
          background-color: #76caa7;
      }